
<link href="/Currency_transaction/app/assets/stylesheets/index.css" rel="stylesheet" type="text/css">

<div class='nav'>
    <div class='navTitle'> 
        <h1>Currency Transcations FX</h1>
    </div> 

    <div class='navCon'>  
        <ul>
            <li><a href="/transactions/showAll">Show All</a></li>
            <li><a href="/transactions/new">Creat a new transaction</a></li> 
        </ul>
    </div>
</div> 
<div class="main"> 
    <div class="mainItem"> 
        <p class="header_main">Hello, what is a FX transaction you ask??</p> 
        <p class="header_main_body">Foreign Exchange (forex or FX) is the trading of one currency for another. For example, one can swap the U.S. dollar for the euro. Foreign exchange transactions can take place on the foreign exchange market, also known as the forex market.</p>
    </div>
</div>