 <style> 
 body{
    margin: 0px; 
    padding: 0px;
}

.nav{
    width: 100%; 
    height: 70px; 
    justify-content: space-between;  
    display: flex; 
    flex-direction: row;
    align-items: center;  
    background: rgb(220,220,220); 
    margin-bottom: 80px;
} 

.navTitle h1{
    font-size: 20px; 
    color: rgb(105,105,105);  
    margin-left: 30px; 
    font-family: sans-serif;
} 

.navCon{
    margin-right: 40px;
} 

.navCon ul li{
    display: inline; 
    margin: 0px 10px; 
    font-family: sans-serif;   
} 

.navCon ul li a{
    text-decoration: none;
    color: rgb(105,105,105);
} 

.navCon ul li a:hover{
    color: rgb(86,31,48);
} 

.main{
    width: 100%; 
    display: flex; 
    justify-content: center; 
    font-family: sans-serif;
} 

.mainItem{
    width: 400px; 
    margin-top: 80px;
}  


.header_main{
    font-size: 20px; 
    color: rgb(105,105,105);
} 

.header_main_body{
    color: rgb(105,105,105)
}

</style>


<div class='nav'>
    <div class='navTitle'> 
        <h1>Currency Transcations FX</h1>
    </div> 

    <div class='navCon'>  
        <ul>
            <li><a href="/transactions/showAll">Show All</a></li>
            <li><a href="/transactions/new">Creat a new transaction</a></li> 
        </ul>
    </div>
</div> 
<div class="main"> 
    <div class="mainItem"> 
        <p class="header_main">Hello, what is a FX transaction you ask??</p> 
        <p class="header_main_body">Foreign Exchange (forex or FX) is the trading of one currency for another. For example, one can swap the U.S. dollar for the euro. Foreign exchange transactions can take place on the foreign exchange market, also known as the forex market.</p>
    </div>
</div>